:root {
  --bg-border: #e6e6e6;
  --text-200: #333;
  --bg-tooltip: #e6e6e6;
  --radius: 8px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input[type='color'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 3rem;
  padding: 0;
  width: 3rem;
}

*:focus {
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}
